* {
  font-family: 'Dosis', sans-serif;  
}

/* SIGNUP FORM*/
#signup-form-wrapper  {
  position: relative;
  width: 300px;          
  height: 200px;        
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;    
  margin-left: -150px;    
}
#signup-form-wrapper input {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  border: none;
  font-size: 1.1em;
  border-bottom: 1px solid #999;
  padding: .4em 1em .4em;
  margin: 1em 0;
  width:100%;
  outline: none;
}

/* LOGIN FORM*/
#login-form-wrapper {     
  position: relative;
  width: 300px;          
  height: 200px;        
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;    
  margin-left: -150px;    
}
#login-form-wrapper input {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  border: none;
  font-size: 1.1em;
  border-bottom: 1px solid #999;
  padding: .4em 1em .4em;
  margin: 1em 0;
  width:100%;
  outline: none; 
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: auto;
  max-width: 7em;
  position: relative;
  height: 40px;
  box-sizing: border-box;

  $border: 3px;
  color: black;
  background: white;
  background-clip: padding-box; 
  border: solid $border transparent;
  border-radius: 2em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    // background: linear-gradient(to right, red, orange);
    background: linear-gradient(to right, #f8d90f, #fe7815);
  }
}

/*NAVBAR*/
.navbar {
  // box-sizing: border-box;
  background-color: black;
  // margin: 0;
  // padding: 0;
  height: 8vh;
  position: relative;
  display: flex;
  // align-items: center;
  // justify-content: center;
  // margin-left: auto;
  font-size: 17px
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 1em;
}
.navbar a:hover {
  color: #69676A;
  text-decoration: none;
}


/* PODCASTS */
$font-color: #A2A2A2;
$primary-color: #63B7E6;
#podcast {
  // font-family: 'Raleway', sans-serif;
  // padding: 50px 0;
  background: #fff;
  text-align: center;
  // word-wrap: break-word;

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card-image {
    width: 80%;
  }
  .card-name {
    font-size: 25px;
    margin-top: -30px;
    margin-bottom: .5em;
    font-family: 'Oswald', sans-serif;
  }
  .card {
    border: none;
  }
  .heart {
    margin-left: 12px;
  }

  ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    li {
      padding: 40px;
      width: 350px;
      transition: box-shadow .3s;
      height: 500px;

      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }

      &:hover span {
        color: $primary-color;
      }
      &:hover p {
        color: #555;
      }
      &:hover h3 {
        color: $primary-color;
      }
      &:hover h3:after{
        width: 25px;
      }
      span {
        font-size: 2.6em;
        display: block;
        transition: color .3s;
        color: $font-color;
        &:before, &:after {
          position: static;
        }
      }

      // h3 {
      //   color: darken($font-color, 20%);
      //   display: inline-block;
      //   font-size: 24px;
      //   font-weight: 100;
      //   transition: color .3s;
      //   &:after {
      //     content: '';
      //     position: relative;
      //     left: 50%;
      //     top: 20px;
      //     transform: translateX(-50%);
      //     display: block;
      //     width: 40px;
      //     height: 1px;
      //     background: darken($font-color, 20%);
      //     transition: width .3s;
      //   }
      // }
      // p {
      //   color: $font-color;
      //   text-align: left;
      //   text-indent: 1em;
      //   font-size: 16px;
      //   line-height: 26px;
      //   transition: color .3s;
      // }
    }
  }
}

.all-podcasts {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
}


/*Parallax Scrolling*/


/*Main Page*/



/*Drag n Reorder*/
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: relative;
  width: 500px;
}

li {
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  // height: 200px;
  height: 80px;
  position: relative;
}

/*PLAYLIST*/
.favorites-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.playlist-title {
  margin-top: 2em;
  text-align: center;
}


/*Search Bar*/

.search-container {
  display: block;
  margin: auto;
  text-align: center;
}

.search-input {
  margin-top: 100px;
  width: 300px;
  height: 50px;
}



// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// .search-container {
//   box-sizing: border-box;

//   position: relative;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   bottom: 100px;
//   .search {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 80px;
//     height: 80px;
//     background: black;
//     border-radius: 50%;
//     transition: all 1s;
//     z-index: 4;
//     box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
//     // box-shadow: 0 0 25px 0 crimson;
//     &:hover {
//       cursor: pointer;
//     }
//     &::before {
//       content: "";
//       position: absolute;
//       margin: auto;
//       top: 22px;
//       right: 0;
//       bottom: 0;
//       left: 22px;
//       width: 12px;
//       height: 2px;
//       background: white;
//       transform: rotate(45deg);
//       transition: all .5s;
//     }
//     &::after {
//       content: "";
//       position: absolute;
//       margin: auto;
//       top: -5px;
//       right: 0;
//       bottom: 0;
//       left: -5px;
//       width: 25px;
//       height: 25px;
//       border-radius: 50%;
//       border: 2px solid white;
//       transition: all .5s;
//     }
//   }
//   input {
//     // font-family: 'Inconsolata', monospace;
//     position: absolute;
//     margin: auto;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
//     outline: none;
//     border: none;
//     // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//     background: black;
//     color: white;
//     text-shadow: 0 0 10px black;
//     padding: 0 80px 0 20px;
//     border-radius: 30px;
//     box-shadow: 0 0 25px 0 black,
//                 0 20px 25px 0 rgba(0, 0, 0, 0.2);
//     // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
//     transition: all 1s;
//     opacity: 0;
//     z-index: 5;
//     font-weight: bolder;
//     letter-spacing: 0.1em;
//     &:hover {
//       cursor: pointer;
//     }
//     &:focus {
//       width: 300px;
//       opacity: 1;
//       cursor: text;
//     }
//     &:focus ~ .search {
//       right: -250px;
//       background: black;
//       z-index: 6;
//       &::before {
//         top: 0;
//         left: 0;
//         width: 25px;
//       }
//       &::after {
//         top: 0;
//         left: 0;
//         width: 25px;
//         height: 2px;
//         border: none;
//         background: white;
//         border-radius: 0%;
//         transform: rotate(-45deg);
//       }
//     }
//     &::placeholder {
//       color: white;
//       opacity: 0.5;
//       font-weight: bolder;
//     }
//   }
// }



