/* Login Form*/
#login-form-wrapper {     
  position: relative;
  width: 300px;          
  height: 200px;        
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;    
  margin-left: -150px;    
}

/* SignUp Form */
#signup-form-wrapper {
  position: absolute;
  width: 300px;           
  height: 200px;          
  top: 50%;
  left: 50%;
  margin-top: -190px;   
  margin-left: -150px;    
}

/* Podcast Container */
.card {
  position: relative;
  bottom: 0;
  top: 70px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  width: 800px;
  height: 350px;
  margin: 300px auto;
  padding: 20px;
}

.card-image {
  float: left;
	position: relative;
	left: 30px;
	top: -30px;
	height: 300px;
	width: 300px;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	overflow: hidden;
}

.card-text {
  margin-left: 370px;
	margin-right: 30px;
}

.card-info {
  padding-top: 5px;
	font-size: 1rem;
  color: #4B4B4B;
}

.separator {
  margin-top: 5px;
	border: 1px solid #C3C3C3;
}

.podcast-description {
  text-align: justify;
	padding-top: 5px;
	font-size: 0.80rem;
	line-height: 150%;
	color: #4B4B4B;
}

.podcast-publisher {
  position: absolute;
	left: 50px;
	bottom: 10px;
	font-size: 1.5rem;
	color: #C3C3C3;
}

.podcast-eps {
  position: absolute;
	left: 50px;
	bottom: 0px;
	font-size: .7rem;
	color: #C3C3C3;
}

/*Parallax Scrolling*/
/* .container {
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
} */

/*Main Page*/
/* .main-page {
  position: relative;
  background-color: #F2EEDD;
  background-image: linear-gradient(to bottom, #2F4353 0%, #D2CCC4 100%);
  min-height: 300vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/*Search Bar*/
.search-field {
  position: absolute;
  margin: auto;
  top: -600px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 30px;

}



// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html, body {
//   width: 100%;
//   height: 100%;
// }

// body {
//   background: #252525;
// }


// .container {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 300px;
//   height: 100px;
//   .search {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 80px;
//     height: 80px;
//     background: crimson;
//     // background: #264f17;
//     border-radius: 50%;
//     transition: all 1s;
//     z-index: 4;
//     box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
//     box-shadow: 0 0 25px 0 crimson;
//     &:hover {
//       cursor: pointer;
//     }
//     &::before {
//       content: "";
//       position: absolute;
//       margin: auto;
//       top: 22px;
//       right: 0;
//       bottom: 0;
//       left: 22px;
//       width: 12px;
//       height: 2px;
//       background: white;
//       transform: rotate(45deg);
//       transition: all .5s;
//     }
//     &::after {
//       content: "";
//       position: absolute;
//       margin: auto;
//       top: -5px;
//       right: 0;
//       bottom: 0;
//       left: -5px;
//       width: 25px;
//       height: 25px;
//       border-radius: 50%;
//       border: 2px solid white;
//       transition: all .5s;
//     }
//   }
//   input {
//     font-family: 'Inconsolata', monospace;
//     position: absolute;
//     margin: auto;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
//     outline: none;
//     border: none;
//     // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//     background: crimson;
//     // background: #264f17;

//     color: white;
//     text-shadow: 0 0 10px crimson;
//     // text-shadow: 0 0 10px  #264f17;
//     padding: 0 80px 0 20px;
//     border-radius: 30px;
//     box-shadow: 0 0 25px 0 crimson,
//                 0 20px 25px 0 rgba(0, 0, 0, 0.2);
//     // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
//     transition: all 1s;
//     opacity: 0;
//     z-index: 5;
//     font-weight: bolder;
//     letter-spacing: 0.1em;
//     &:hover {
//       cursor: pointer;
//     }
//     &:focus {
//       width: 300px;
//       opacity: 1;
//       cursor: text;
//     }
//     &:focus ~ .search {
//       right: -250px;
//       background: #151515;
//       z-index: 6;
//       &::before {
//         top: 0;
//         left: 0;
//         width: 25px;
//       }
//       &::after {
//         top: 0;
//         left: 0;
//         width: 25px;
//         height: 2px;
//         border: none;
//         background: white;
//         border-radius: 0%;
//         transform: rotate(-45deg);
//       }
//     }
//     &::placeholder {
//       color: white;
//       opacity: 0.5;
//       font-weight: bolder;
//     }
//   }
// }

