* {
  font-family: 'Oswald', sans-serif;
}

.main-page {
  background-color:#152238;
}
/* SIGNUP FORM*/
#signup-form-wrapper  {
  background-color:#152238;
  position: relative;
  width: 300px;          
  height: 200px;        
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;    
  margin-left: -150px;    
}
#signup-form-wrapper input {
  background-color:#152238;
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  border: none;
  font-size: 1.1em;
  border-bottom: 1px solid #ABB2B9;
  padding: .4em 1em .4em;
  margin: 1em 0;
  width:100%;
  outline: none;
  color: #ABB2B9;
}

/* LOGIN FORM*/
#login-form-wrapper {  
  position: relative;
  width: 300px;          
  height: 200px;        
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;    
  margin-left: -150px;    
}
#login-form-wrapper input {
  background-color:#152238;
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  border: none;
  font-size: 1.1em;
  border-bottom: 1px solid #ABB2B9;
  padding: .4em 1em .4em;
  margin: 1em 0;
  width:100%;
  outline: none; 
  color: #ABB2B9;
}
.btn {
  background-color: transparent;
  border: none;
  color: #ABB2B9;
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: auto;
  max-width: 7em;
  position: relative;
  height: 40px;
  box-sizing: border-box;
  background-color:#152238;

  $border: 3px;
  background-clip: padding-box; 
  border: solid $border transparent;
  border-radius: 2em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, #FCBD78, #fe7815);
  }
}

/*ERROR MESSAGES*/
.error-msg {
  color: tomato;
  text-align: center;
  padding-bottom: 1.5em;
}

/*NAVBAR*/
.navbar {
  position: relative;
  display: flex;
  font-size: 20px
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 1em;
}
.navbar a:hover {
  color: #142B42;
  text-decoration: none;
}
.navbar-username {
  padding: 1em;
  position: relative;
  display: flex;
  color: #13283B;
  font-size: 20px
}
.app-name {
  font-family: 'Monoton', cursive;
  padding: 1em;
  position: relative;
  display: flex;
  padding-right: 20px;
  color: #000000;
  font-size: 20px;
}

/* PODCASTS HOME PAGE*/
.droppable-container {
  margin-top: -300px;
}
.cards-container {
  align-items: center;
}
.cards {
  color: #CD96A2;
  background-color:rgba(216, 180, 188, 0.1);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
  width: 700px;
}
.cards:hover {
  background: rgba(35, 77, 118, .3)
}
.card-title {
  letter-spacing: 1px;
  font-size: 1.5em;
  margin: 10px 0;
  color: #C46354;
}
.card-image-container {
  background-color: transparent;
	padding: 30px;
	max-width: 250px;
}
.card-image {
  width: 200px;
}
.card-info {
	padding: 30px;
	position: relative;
  width: 100%;
}
.card-description {
  font-family: 'News Cycle', sans-serif; 
  color: #CABCA1;
  margin-bottom: 1em;
}
.info-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
  width: 150px;
}
.icon-play {
  size: 30px;
  cursor: pointer;
  color: #BE959E;
}
.icon-heart {
  cursor: pointer;
}
.icon-play:hover {
  color: pink;
}
.card-image {
  margin-top: 1em;;
  width: 150px;
}
.card-publ-eps {
  display: flex;
  padding-top: 15px;
}
.card-publisher {
  padding-right: 50px;
  font-size: 15px;
  color: #CABCA1;
}
.card-episodes {
  padding-left: 50px;
  font-size: 15px;
  color: #CABCA1;
}

/*SEARCH BAR*/
.search-container {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 150px;
}
.search-input {
  margin-top: 100px;
  width: 300px;
  height: 50px;
  background: none;
  border: 0;
  font-size: 3em;
  border-bottom: 1px solid;
  outline: none;
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
}
.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(199, 199, 199, 0.74);
  font-size: 1.2em;
  font-family: sans-serif;  
  letter-spacing: 1px;
  opacity: 1; /* Firefox */
}

/*SIDEBAR PLAYLIST*/
.favorites-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 2em;
}
.sidebar-container {
  display: flex;
  font-size: 1.1em;
}
.playlist-title {
  margin-top: 2em;
  text-align: center;
}
.sidebar-card-name {
  padding-right: 20px;
  text-align: end;
}
.sidebar-card-image {
  width: 100px;
}
.sidebar-name-rotate {
  transform: rotate(90deg);
  position: absolute;
  margin-top: 4em;
  border: 1px white solid;
  padding: 15px;
}
.sidebar-name-rotate:hover {
  color: #FD563D;
  background: linear-gradient(to right, #f5c087, #f58a3df5);
  border: 1px #FD563D solid;
}
.sidebar-name {
  text-align: center;
}
.sidebar-card-link {
  margin-top: 1em;
}
.sidebar-playlist-text {
  color: #ADADAD;
  opacity: .6;
  text-align: center;
  font-style: italic;
}

/*SIDEBAR POPUP*/
$pink: #FF65C3;
$orange: #FCBD78;
$faded-white: #FAFAFC;
$dark-grey: #E5E5E7;
$yellow: #EFB05A;

$sidebar-width: 300px;
$blue: #232573;
$indigo: #36278D;
$purple: #4F27A5;
$violet: #7336B8;
$lavender: #BD6AD8;

.sidebar {
  width: $sidebar-width;
  background-size: 200%;
  background-position: 0 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(230px);
  transition: 300ms ease-in-out;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  top: 70%;
  color: white;
  
  &--expanded {
    background-size: 100%;
    background-position: 0 0;
    transform: translateX(0);
  }
  &:hover {
    background-position: 0 0;
  }
  height: 200px;
  top: 50%;
  border-radius: 10px;
}
.sidebar--expanded {
  height: 100%;
  top: 0;
  border-radius: 0;
  background-color: rgba(19, 37, 52, 0.5)
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  background: linear-gradient(#FF7DD5 80%, transparent);

  height: 370px;
  border-radius: 100%;
  margin-left: -100px;
  margin-top: -20px;
  z-index: -1;
  opacity: 0;
  transform: scale(.4) translateY(-400px) translateX(300px);
  margin-left: 0;
  margin-top: 0;
  transition: 400ms ease;
  
  &:nth-child(2) {
    background: linear-gradient(#D35945 80%, transparent);
    margin-top: 70px;
    margin-left: 50px;
    transform: scale(.4) translateY(-400px);
    margin-top: 0;
  }
  .sidebar--expanded & {
    animation: float 6s infinite alternate;
    margin-left: -100px;
    margin-top: -20px;
    opacity: .4;
    transform: scale(1) translateY(0);
    
    &:nth-child(2) {
    animation: float 20s infinite alternate;
      transform: scale(1) translateY(100px) translateX(170px);
    }
  }
}
@keyframes float {
  20% {
    top: 0;
    left: -100px;
  }
  50% {
    left: 0;
  }
  100% {
    top: 500px;
    left: -100px;
  }
}

/*SCROLL*/
.scroll-container {
  display: flex;
  justify-content: center;
}